#
#  ███████████████████████████████████████████████████████████████████████████████████
#                                              ░██                                     
#   █████   ███████   █████    █████   █████   ░██  ██     ██  ███████   ████   █████ 
#  ░░░░░██ ░░███░░█  ███░░██  ███░░██ ░░░░░██  ░██  ███    ██ ░░███░░█ ░███░   ███░░██
#   ██████  ░███ ░█ ░███ ░██ ░███ ░░   ██████  ░██ ░░███  ██   ░███ ░█  ░███  ░██████ 
#  ███░░██  ░██████ ░███ ░██ ░███  ██ ███░░██  ░██  ░░█████    ░██████  ░░░██ ░███░░  
#  ░███████ ░███░░  ░░█████  ░░█████  ░███████ ████  ░░░██     ░███░░   ████  ░░██████
#  ░░░░░░░  ░██      ░░░░░    ░░░░░   ░░░░░░░ ░░░░   █  ██     ░██     ░░░░    ░░░░░░ 
#           ████                                    ░ ███      ████    
#          ░░░░                                      ░░░      ░░░░     
#
# ======================================================================================
#   Name:       apocalyspe
#   Author:     Gurpreet Singh
#   Url:        https://github.com/ffs97/dotfiles/compton/apocalyspe.config
#   License:    The MIT License (MIT)
#
#   A picom configuration file for apocalyspe colorscheme
# ======================================================================================

# --------------------------------------------------------------------------------------
# Backend

backend = "glx";

glx-no-stencil = true;
glx-copy-from-front = false;
glx-swap-method = 0;
glx-no-rebind-pixmap = true;
xrender-sync-fence = true;
use-damage = true;

paint-on-overlay = true;

# --------------------------------------------------------------------------------------
# Shadows

shadow = true;
shadow-radius = 12;
shadow-offset-x = -15;
shadow-offset-y = -15;
shadow-opacity = 0.65;

shadow-exclude = [
    "! name~=''",
    "name = 'Notification'",
    "name = 'Plank'",
    "name = 'Docky'",
    "name = 'Kupfer'",
    "name = 'GLava'",
    "name = 'xfce4-notifyd'",
    "name *= 'VLC'",
    "name *= 'compton'",
    "name *= 'Chromium'",
    "name *= 'Chrome'",
    "class_g = 'Conky'",
    "class_g = 'Kupfer'",
    "class_g = 'Synapse'",
    "class_g ?= 'Notify-osd'",
    "class_g ?= 'Cairo-dock'",
    "class_g ?= 'Xfce4-notifyd'",
    "class_g ?= 'Xfce4-power-manager'",
    "_GTK_FRAME_EXTENTS@:c"
];
shadow-ignore-shaped = true;

# --------------------------------------------------------------------------------------
# Opacity

inactive-opacity = 0.7;
active-opacity = 1;
frame-opacity = 1;
inactive-opacity-override = true;

opacity-rule = [ 
    "80:class_g = 'kitty'",
    "80:class_g = 'Termite'",
    "80:class_g = 'Zathura'",
    "80:class_g = 'XTerm'",
    "80:class_g = 'URxvt'",
    "80:class_g = 'Gvim'",
    "90:class_g = 'Rofi'",
    "99:class_g = 'qutebrowser' && focused",
    "70:class_g = 'qutebrowser' && !focused",
    "0:_NET_WM_STATE@:32a *= '_NET_WM_STATE_HIDDEN'"
]

# --------------------------------------------------------------------------------------
# Blur

blur-background = true;
blur-method = "kawase";
blur-strength = 15;
blur-background-fixed = false;
blur-background-exclude = [
    "window_type = 'desktop'"
];

# --------------------------------------------------------------------------------------
# Fading

fading = false;
fade-delta = 1;
fade-in-step = 0.03;
fade-out-step = 0.03;
no-fading-openclose = false;

fade-exclude = [ ];

# --------------------------------------------------------------------------------------
# Miscellaneous

mark-wmwin-focused = false;
mark-ovredir-focused = false;
use-ewmh-active-win = false;
detect-rounded-corners = true;

detect-client-opacity = true;

refresh-rate = 0;

vsync = "opengl";

dbe = false;

unredir-if-possible = true;

focus-exclude = [ ];

detect-transient = true;
detect-client-leader = true;

# --------------------------------------------------------------------------------------
# Window type settings

wintypes:
{
    tooltip =
    {
        fade = false;
        shadow = false;
        opacity = 0.85;
        focus = true;
    };
    dock =
    {
        shadow = true;
    };
    dnd =
    {
        shadow = false;
    };
    popup_menu =
    {
        opacity = 0.85;
    };
    dropdown_menu =
    {
        opacity = 0.85;
    };
};
