#
#  ███████████████████████████████████████████████████████████████████████████████████
#                                              ░██                                     
#   █████   ███████   █████    █████   █████   ░██  ██     ██  ███████   ████   █████ 
#  ░░░░░██ ░░███░░█  ███░░██  ███░░██ ░░░░░██  ░██  ███    ██ ░░███░░█ ░███░   ███░░██
#   ██████  ░███ ░█ ░███ ░██ ░███ ░░   ██████  ░██ ░░███  ██   ░███ ░█  ░███  ░██████ 
#  ███░░██  ░██████ ░███ ░██ ░███  ██ ███░░██  ░██  ░░█████    ░██████  ░░░██ ░███░░  
#  ░███████ ░███░░  ░░█████  ░░█████  ░███████ ████  ░░░██     ░███░░   ████  ░░██████
#  ░░░░░░░  ░██      ░░░░░    ░░░░░   ░░░░░░░ ░░░░   █  ██     ░██     ░░░░    ░░░░░░ 
#           ████                                    ░ ███      ████    
#          ░░░░                                      ░░░      ░░░░     
#
# =====================================================================================
#  Name:       apocalypse
#  Author:     Gurpreet Singh
#  Url:        https://github.com/ffs97/dotfiles/termite/config
#  License:    The MIT License (MIT)
#
#  A black termite color scheme based on Dracula and One-Half
# =====================================================================================

[options]
font = Iosevka Medium 11
allow_bold = true
allow_bold = false

browser = xdg-open
clickable_url = true

dynamic_title = true

search_wrap = true

scroll_on_keystroke = true
scroll_on_output = false

urgent_on_bell = true

scrollback_lines = -1

cursor_blink = false

[colors]

cursor = #d8dee9
cursor_foreground = #2e3440

foreground = #d8dee9
foreground_bold = #d8dee9

highlight = #4c566a

# special
foreground = #f7f7f7
foreground_bold = #ffffff
cursor = #d8dee9
background = rgba(37, 27, 46, 0.7)

# black
color0 = #000000
color8 = #6d5d7d

# red
color1 = #c37372
color9 = #dbaaaa

# green
color2= #72c373
color10 = #aadbaa

# yellow
color3= #c2c372
color11 = #dadbaa

# blue
color4= #7372c3
color12 = #aaaadb

# magenta
color5= #c372c2
color13 = #dbaada

# cyan
color6= #72c2c3
color14 = #aadadb

# white
color7= #d9d9d9
color15 = #f7f7f7
