#vim-main-window {
    background-color: #252c36 /* thundeclouds */;
    background-color: #241b2e /* apocalypse */;
}

VteTerminal, vte-terminal {
    padding: 20px;
}

.window-frame {
    box-shadow: none;
    margin: 0;
}
