# ======================================================================================
#   Name:       lua.snippets
#   Author:     Gurpreet Singh
#   Url:        https://github.com/ffs97/dotfiles/vim/snippets/lua.snippets
#   License:    The MIT License (MIT)
#
#   Snippets file for UltiSnips for filetype lua
# ======================================================================================

snippet notty "naughty notifications"
test
endsnippet
