snippet xxx "Ultisnips snippet definition" b
`!p snip.rv = "snippet"` ${1:Tab_trigger} "${2:name} environment" ${3:b}
\begin{$2}${3:{$4}}

	\${1:\${VISUAL}}

\end{$2}\$0
`!p snip.rv = "endsnippet"`

$0
endsnippet
