snippet heading "Vim comment heading" b
""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
" $1

$0
endsnippet

snippet group "Vim comment group" b
" \{\{
$1
" \}\}

$0
endsnippet
