#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=WhatsApp
Exec=/opt/yandex/browser-beta/yandex-browser-beta --profile-directory=Default --app-id=hnpfjngllnobngcgfapefoaidbinmjnm
Icon=/home/fat-fighter/.icons/whatsapp.svg
StartupWMClass=crx_hnpfjngllnobngcgfapefoaidbinmjnm
