[Desktop Entry]
Name=Youtube Music
Comment=An electron wrapper for Google Play Music
GenericName=Google Play Music Desktop Player
Exec=env XDG_CURRENT_DESKTOP=Unity gpmdp %U
Icon=/home/fat-fighter/.icons/music.svg
Type=Application
StartupNotify=true
Categories=AudioVideo;Player;Audio;
StartupWMClass=Google Play Music Desktop Player
