[Desktop Entry]
Name=Outlook
Comment=The best email app for people and teams at work
GenericName=Mail Client
Exec=/home/fat-fighter/software/outlook.AppImage %U
Icon=/home/fat-fighter/.icons/outlook.svg
Type=Application
StartupNotify=true
StartupWMClass=Outlook
Categories=GNOME;GTK;Network;Email;
Keywords=email;internet;
MimeType=x-scheme-handler/mailto;
