#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=true
Type=Application
Name=TODO
Exec=vim /home/fat-fighter/todo
Icon=/home/fat-fighter/.icons/todo.svg
StartupWMClass=crx_mnhkaebcjjhencmpkapnbdaogjamfbcj
